<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.mines.rmcmanus.dhunter.applicationthree"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.mines.rmcmanus.dhunter.applicationthree.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.mines.rmcmanus.dhunter.applicationthree.SemesterActivity"
            android:label="@string/title_activity_semester"
            android:parentActivityName="edu.mines.rmcmanus.dhunter.applicationthree.MainActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.mines.rmcmanus.dhunter.applicationthree.MainActivity" />
        </activity>
        <activity
            android:name="edu.mines.rmcmanus.dhunter.applicationthree.CourseActivity"
            android:label="@string/title_activity_course"
            android:parentActivityName="edu.mines.rmcmanus.dhunter.applicationthree.SemesterActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.mines.rmcmanus.dhunter.applicationthree.SemesterActivity" />
        </activity>
        <activity
            android:name="edu.mines.rmcmanus.dhunter.applicationthree.AssignmentActivity"
            android:label="@string/title_activity_assignment"
            android:parentActivityName="edu.mines.rmcmanus.dhunter.applicationthree.CourseActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.mines.rmcmanus.dhunter.applicationthree.CourseActivity" />
        </activity>
        <activity
            android:name="edu.mines.rmcmanus.dhunter.applicationthree.ShowAssignmentActivity"
            android:label="@string/title_activity_show_assignment"
            android:screenOrientation="landscape"
            android:parentActivityName="edu.mines.rmcmanus.dhunter.applicationthree.AssignmentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.mines.rmcmanus.dhunter.applicationthree.AssignmentActivity" />
        </activity>
    </application>

</manifest>